In [4]:
#Loop Control statements:break,continue
for i in range(1,11): #using break
    if i%5==0:
        break
    else:
        print(i)

1
2
3
4

In [5]:
 #using continue   
    

for i in range(1,11):
    if i%5==0:
        continue
    else:
        print(i)

1
2
3
4
6
7
8
9

In [7]:
#write a program to validate username and password given by the user.If the user gives wrong credentials it should ask for username and password again again until the user gives correct details.

while(True):
    uname=input("enter the user name")
    if(uname=="python"):
        password=input("enter the password")
        if(password=="abc123"):
            print("Login Success!")
            break
        else:
            continue
    else:
        continue

enter the user namesushma
enter the user namepython
enter the passwordsushma
enter the user namepython
enter the passwordabc123
Login Success!

In [8]:
#pass
if 12<34:
    pass
else:
    print("else")

### Functions:
block of statements
 1. pre defined fun(which are already there)
     len(),print(),input()
 2. user defined(custom)

``` def function_name(parameter list):
         statements
         return ```

In [9]:
def name(username): #function definition
    print("Hello",username)
    
name("Sushma")   #function calling

Hello Sushma

In [13]:
def arthmetic(a,b):
    return a+b,a-b,a*b,a/b
add,sub,mul,div=arthmetic(10,20)
print(sub)

-10

### Different types of aruguments
1. Required positional arguments
2. Default argument
3. Keyword argument
4. variable length argument

In [15]:
def add(a,b):
    return a+b
add(10,20)
#add(10,20,30)

30

In [17]:
#default argument
#default arg should be at the end of argument list
def add(a,b=100):
    return a+b
print(add(100))
print(add(200,200))

200
400

In [19]:
#keyword argument
def add(a,b):
    print("a value:",a)
    print("b value:",b)
    return a+b
add(b=10,a=20)

a value: 20
b value: 10

30

In [20]:
a=int(input("Enter a value:"))
b=int(input("Enter b value:"))
add(a,b)

Enter a value:22
Enter b value:44
a value: 22
b value: 44

66

In [27]:
#variable length arguments
#(120,230,34,450,460)-->Tuple
def add(*a):
    m=1
    for i in a:
        m=m*i
    
    return m
    
print(add(10,20))
print(add(100,200))

200
20000

In [26]:
#Nested function: square,cube
def square(a):
    return a*a
def cube(x):
    return square(x)*x
print(square(10))
print(cube(10))

100
1000

### Recursive Function:
1. Factorial of a number
2. Fibonacci Series

### Data Structures:
1. List:
     - [] elements are separated by ,
     - indexed
     - ordered
     - Duplicate values
     - Mutable
     - Store any type of values

In [28]:
list1=[12,23.45,True,"abc"]
print(type(list1))

<class 'list'>

In [33]:
#Operators supported by list:+,*,[],[:],in ,not in
list1=[1,2,3]
list2=[10,20,30]
print(list1+list2) #concatenation
print(list1*3) #repeatation
print(list1[1]) #2
print(list1[1:3]) #[1,2]
print(2 in list1) #true
print(200 in list1) #false

[1, 2, 3, 10, 20, 30]
[1, 2, 3, 1, 2, 3, 1, 2, 3]
2
[2, 3]
True
False

In [34]:
list1=[1,2,3, "python"]
list1[3][2]

't'

In [36]:
#Built in functions:len(),min(),max(),list()
list1=[1,2,3,40]
s1="python"
print(len(list1))
print(min(list1))
print(max(list1))
list2=list(s1)
print(list2)
list1[-1]=100
print(list1)

4
1
40
['p', 'y', 't', 'h', 'o', 'n']
[1, 2, 3, 100]